<!-- 

		  		  Author:  Fleming Siow
		   Serial Number:  4
               	   Class:  DAAA/FT/1B/03
    	Admission Number:  p2011828
      	  		    Date:  7th February, 2021
			    Filename:  payment-success.ejs

		
		
		This page is returned upon a successful purchase transaction. Used to inform the user that the transaction
        was successful, and that they should have received an email on their transaction details. 

-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
    <title>SPGames | Payment Success</title>
</head>

<body>
    <div id="page">

        <%- include('partials/nav'); %>

            <main>
                <div class="hero_in cart_section last">
                    <div class="wrapper">
                        <div class="container">
                            <div class="bs-wizard clearfix">
                                <div class="bs-wizard-step">
                                    <div class="text-center bs-wizard-stepnum">Your cart</div>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="/cart" class="bs-wizard-dot"></a>
                                </div>

                                <div class="bs-wizard-step">
                                    <div class="text-center bs-wizard-stepnum">Payment</div>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="/payment" class="bs-wizard-dot"></a>
                                </div>

                                <div class="bs-wizard-step active">
                                    <div class="text-center bs-wizard-stepnum">Finish!</div>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="/" class="bs-wizard-dot"></a>
                                </div>
                            </div>
                            <!-- End bs-wizard -->
                            <div id="confirm">
                                <h4>Order completed!</h4>
                                <p>You'll receive a confirmation email at <%= user.email %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/hero_in-->
            </main>
            <!--/main-->

            <%- include('partials/footer'); %>
    </div>
    <!-- page -->

    

    <div id="toTop"></div><!-- Back to top button -->

</body>

</html>